 * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #1512da;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .Calculadora {
           display: grid;
            grid-template-columns: repeat(4, 80px);
            grid-gap: 10px;
            background-color: #2d3748;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        }
        button {
            padding: 20px;
            font-size: 1.5rem;
            border: none;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }
        .display {
            grid-column: 1 / -1;
            background-color: #1a202c;
            color: white;
            padding: 25px;
            text-align: right;
            font-size: 2rem;
            border-radius: 10px;
            min-height: 70px;
            word-wrap: break-word;
            margin-bottom: 10px;
            box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
        }
        button:hover {
            background-color: #e0e0e0;
            transform: translateY(-2px);
        }
        .clear {
            grid-column: 1 / 3;
            background-color: #fc8181;
            color: white;
        }
         .equals {
            grid-column: 3 / 5;
            background-color: #b11414;
            color: white;
        }
        footer {
            font-size: x-large;
            text-align: center;
            margin-top: 20px;
            font-size: 0.9rem;
            color: #666;
            background-color: azure;
            width: 100%;
            height: 40%;
            display: inline-block;
            position:relative;
        }
